<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/car.jpeg}"/>
<form method="POST" th:object="${taco}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredientList : ${wrap}">
                <input th:field="*{ingredientListTaco}" type="checkbox"
                       th:value="${ingredientList.id}"/>
                <span th:text="${ingredientList.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredientList : ${protein}">
                <input th:field="*{ingredientListTaco}" type="checkbox"
                       th:value="${ingredientList.id}"/>
                <span th:text="${ingredientList.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredientList : ${cheese}">
                <input th:field="*{ingredientListTaco}" type="checkbox"
                       th:value="${ingredientList.id}"/>
                <span th:text="${ingredientList.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredientList : ${veggies}">
                <input th:field="*{ingredientListTaco}" type="checkbox"
                       th:value="${ingredientList.id}"/>
                <span th:text="${ingredientList.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredientList : ${sauce}">
                <input th:field="*{ingredientListTaco}" type="checkbox"
                       th:value="${ingredientList.id}"/>
                <span th:text="${ingredientList.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{nameTaco}"/>
        <br/>
        <button>Submit Your Taco</button>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>

<form  method="POST" th:action="@{/logout}" id="logout">
    <br/><br/>
    <input type="submit" value="Click here to logout"/>
</form>
</body>
</html>