<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Taco Cloud Registration</title>
</head>
<body>
    <form method="POST" th:action="@{/register}" id="registerForm">
        <label for="username">Username: </label>
        <input type="text" name="username" /> <br/>

        <label for="fullname">FullName: </label>
        <input type="text" name="fullname" /> <br/>

        <label for="password">PassWord: </label>
        <input type="text" name="password" /> <br/>

        <label for="confirm">Confirm PassWord: </label>
        <input type="text" name="confirm" /> <br/>

        <label for="address">Address: </label>
        <input type="text" name="address" /> <br/>

        <label for="zip">Zip: </label>
        <input type="text" name="zip" /> <br/>

        <label for="phonenumber">PhoneNumber: </label>
        <input type="text" name="phonenumber" /> <br/>

        <input type="submit"  value="Register"/>
    </form>

</body>
</html>
